<h3>Reclamações em Aberto X Concluídos</h3>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <canvas id="myChart"></canvas>
</div>
<style>
    canvas {
        height: 400px;
        width: 800px;
    }
</style>
<script>
    $(document).ready(function () {

        verDados()
    });

    function verDados() {
        $.ajax({
            type: 'POST',
            url: 'https://localhost:44386/reclamacoes/AbertosFechados/',
            success: function (response) {
                if (response.Success == true) {

                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Em Aberto', 'Concluído'],
                            datasets: [{
                                label: ' Reclamações',
                                data: [response.ReclamA, response.ReclamF],
                                borderWidth: 1,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)'
                                ]
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    })
                }
            }
        })
    }

</script>